USE [master]
GO
/****** Object:  Database [Lab1]    Script Date: 1/23/2024 3:06:17 PM ******/
CREATE DATABASE [Lab1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lab1', FILENAME = N'H:\DB\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lab1_log', FILENAME = N'H:\DB\MSSQL16.MSSQLSERVER\MSSQL\DATA\Lab1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lab1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lab1]
GO
/****** Object:  Table [dbo].[student_table]    Script Date: 1/23/2024 3:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student_table](
	[Name] [nchar](10) NULL,
	[Roll No] [nchar](10) NULL,
	[Section] [nchar](10) NULL
) ON [PRIMARY]
GO
USE [master]
GO
