USE [Lab1_server]
GO
/****** Object:  Table [dbo].[ZaatPaat_Table]    Script Date: 1/23/2024 2:53:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZaatPaat_Table](
	[Name] [nchar](10) NULL,
	[Cast] [nchar](10) NULL,
	[GPA] [nchar](10) NULL
) ON [PRIMARY]
GO
