USE [lab1_sectionA]
GO
/****** Object:  Table [dbo].[lab1_table]    Script Date: 1/23/2024 2:32:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lab1_table](
	[Id] [nchar](10) NULL,
	[Name] [nchar](10) NULL,
	[Section] [nchar](10) NULL
) ON [PRIMARY]
GO
